:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);

  --space-50: 4px;
  --space-100: 8px;
  --space-150: 12px;
  --space-200: 16px;
  --space-300: 24px;
  --space-500: 40px;

  --radius-lg: var(--space-150);
  --radius-sm: var(--space-100);

  --font-sanserif: "Inter", serif;

  --text-preset-1: 24px;
  --text-preset-2: 14px;
  --line-preset-1: 150%;

  --small-viewport-width: 456px;

  @media (min-width: 800px) {
    --small-viewport-width: 384px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--white);
  background-color: var(--grey-900);
  font-family: var(--font-sanserif);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: var(--text-preset-2);
  /* line-height: var(--line-preset-1); */
}

body * {
  line-height: var(--line-preset-1);
}

h2 {
  /* font-weight: 600; */
  font-size: var(--text-preset-1);

  letter-spacing: 0.2px;
}

strong {
  color: var(--green);
}

ul[role="list"] {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

.button {
  --link-color: var(--grey-700);
  --link-text-color: var(--white);

  cursor: pointer;
  background-color: var(--link-color);
  color: var(--link-text-color);
  border: 0;
  border-radius: var(--radius-sm);
  text-decoration: none;
  font: inherit;
  font-weight: 700;
  text-align: center;

  display: block;
  width: 100%;
  padding: var(--space-150);

  &:hover,
  &:focus {
    --link-color: var(--green);
    --link-text-color: var(--grey-900);
  }
}

.flow > * + * {
  margin-block-start: var(--flow-space, var(--space-300));
}

.challenge-wrapper {
  --max-child-width: var(--small-viewport-width, 320px);

  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: var(--space-300)
    max(var(--space-300), calc(50% - var(--max-child-width) / 2));
}

.align-center {
  text-align: center;
}

.card {
  background-color: var(--grey-800);
  border-radius: var(--radius-lg);

  width: 100%;
  padding: var(--space-300);

  @media (min-width: 400px) {
    padding: var(--space-500);
  }
}

.card__image {
  img {
    margin-inline: auto;
    width: 88px;
    height: 88px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.card__info {
  * {
    --flow-space: var(--space-50);
  }
}

.card__links {
  ul {
    --flow-space: var(--space-200);
  }
}
